.carousel-container{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img{
  width: 1000px;
  height: 600px;
  border-radius: 15px;
}

.carousel-right-arrow{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: rgb(54, 54, 54);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.carousel-left-arrow{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: rgb(54, 54, 54);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.carousel {
  opacity: 0;
  transition-duration: 1s ease;
}

.carousel.active {
opacity: 1;
transition-duration: 1s;
transform: scale(1.1);
}